# Database Configuration
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=itec106

# Ports
APACHE_PORT=80
PHPMYADMIN_PORT=8080

# PHPMyAdmin
PMA_USER=root

# PHP settings
PHP_MEMORY_LIMIT=256M
PHP_MAX_EXECUTION_TIME=30
PHP_UPLOAD_MAX_FILESIZE=20M
PHP_POST_MAX_SIZE=20M
